{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h2>Forgot your password?</h2>
        <p>Enter your email address and we'll send you a link to reset it.</p>

        <div class="mt-4" style="max-width: 400px; margin: auto;">
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            <button type="submit" class="animated-login-btn">{{ form.submit.vars.label }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
